<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<property name="LOG_HOME" value="logs" />
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>[ %-5level ] [%date] [%thread] %logger{10} %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<!-- 按照每天生成日志文件 -->

	<appender name="INFO_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/application.info.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/application.info.log-%d{yyyy-MM-dd}-%i.log
			</fileNamePattern>
			<MaxFileSize>100MB</MaxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>4GB</totalSizeCap>
		</rollingPolicy>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>[ %-5level ] [%date] [%thread] %logger{10} %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<append>true</append>
	</appender>


	<appender name="ERROR_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/application.error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/application.error.log-%d{yyyy-MM-dd}-%i.log
			</fileNamePattern>
			<MaxFileSize>100MB</MaxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>4GB</totalSizeCap>
		</rollingPolicy>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>[ %-5level ] [%date] [%thread] %logger{10} %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<append>true</append>
	</appender>

	<springProfile name="dev">
		<!-- 日志输出级别 -->
		<root level="INFO">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="INFO_FILE" />
			<appender-ref ref="ERROR_FILE" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<!-- 日志输出级别 -->
		<root level="INFO">
			<appender-ref ref="INFO_FILE" />
			<appender-ref ref="ERROR_FILE" />
		</root>
	</springProfile>

</configuration>